@import "global";

html,
body{
  height: auto;
  width: 100%;
  margin: 0;
  font-family: Inter;
  background-image: url("../img/background_game_field.png");
  //color: $dark;
  background-color: #000;
  background-repeat:no-repeat;
  background-size:cover;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  color: $main_color;
}
li, a, ul{
  list-style-type: none;
  text-decoration: none;
  font-family: Inter;
  color: $dark;
}
a{
  color: #BED5E0;
  text-decoration: underline;
  transition: 1s;
  &:hover{
    transition: 1s;
    color: $button_color;
  }
}
h1{
  font-size: 36px;
  font-weight: 600;
}
button{
  transition: 2s;
  border-radius: 8px;
  background: rgba(142, 182, 204, 0.48);
  backdrop-filter: blur(6px);
  color: $dark;
}
button:hover{
  scale: 1.2;
  transition: 2s;
  background: rgba(142, 182, 204, 0.88);
}
.wrapper{
 //opacity: 1;
  z-index: 2;
  margin-left: 2%;
  margin-right: 2%;
}

.bread_crumbs{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

}

.wrapper3{
  margin-top: 119px;
  &_header{
    display: flex;
    margin-bottom: 78px;
    &_btn{
      color: rgba(13,25,48,0.88);
      font-weight: 500;
      margin-left: 50px;
      font-size: 20px;
      padding: 12px 66px;
      border: none;
      border-right: 6px;
      backdrop-filter: blur(6px);
      cursor: pointer;
    }
  }
  &_filter{
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
    &_select{

      width: 280px;
      height: 48px;
      border-radius: 6px;
      border: none;
      backdrop-filter: blur(6px);
      background: rgba(190,213,224,0.68);
      //margin-right: 69%;
      padding: 15px 18px;
      font-size: 16px;
      color: rgba(13,25,48,0.88);
    }
    &_search{
      &_input {
        border: none;
        width: 280px;
        height: 48px;
        border-radius: 6px 0px 0px 6px;
        background: rgba(190, 213, 224, 0.68);
        //margin-right: 69%;
        padding: 15px 18px;
        font-size: 16px;
        color: rgba(13, 25, 48, 0.88);
        margin-top: -1px;
      }
      &_btn{
        border-radius: 0 6px 6px 0px;
        //height: 48px;
        border: none;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: -6px;
        //margin-top: 6px;
        background: rgba(190, 213, 224, 0.68);

      }
    }
  }
  &_btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    &_row1_btn{
      background: rgba(190, 213, 224, 0.68);
      color: rgba(13, 25, 48, 0.88);
      border: none;
      width: 280px;
      height: 48px;
      font-size: 20px;
    }
  }
}
.wrapper4{
  top: -40px;
  &_enemies{
    margin-top: -55px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    &_enemy{
        border-radius: 10px;
        width: 208px;
        height: 221px;
        background: rgba(18,39,39,0.70);
        backdrop-filter: blur(10px);
      &_dog{
        margin-left: 60px;
        width: 191px;
      }
      &_user_logo{
        width: 68px;
        height: 108px;
        background-color: plum;
        border-radius: 8px;
        margin-top: -70px;
        margin-left: -23px;
      }
      &_name{
        color: white;
        margin-top: -20px;
        margin-left: 85px;
      }
    }
  }
  &_field{
    width: 91%;
    &_row1{
      justify-content: right;
      margin-top: 55px;
      display: flex;
      gap: 41px;
      height: 204px;
    }
    &_row2{
      margin-top: 50px;
      height: 204px;
      justify-content: space-between;
      display: flex;
    }
  }
  &_bottom{
    margin-top: 62px;
    width: 91%;
    display: flex;
    justify-content: space-between;
    &_dog{
      justify-content: space-between;
      border-radius: 12px 12px 0px 0px;
      background: rgba(142, 182, 204, 0.70);
      backdrop-filter: blur(10px);
      width: 240px;
      &_text{
        margin-top: 20px;
        margin-left: 28px;
        font-size: 24px;
        color: white;
        font-weight: 500;
      }
      &_dog{
        margin-left: 28px;
        font-size: 24px;
        color: white;
        font-weight: 700;
      }
      &_img{
        margin-top: -12px;
       // margin-top: -46px;
        margin-left: 80px;
        width: 313px;
      }
    }
    &_bonus{
      padding-top: 24px;
      padding-left: 28px;
      justify-content: space-between;
      border-radius: 12px 12px 0px 0px;
      background: rgba(142, 182, 204, 0.70);
      backdrop-filter: blur(10px);
      width: 838px;
      &_resource{
        margin-top: 50px;
        gap: 84px;
        margin-left: 18px;
        display: flex;
      }
      }
  }
}

.card_big:hover{
  scale: 1;
  background: none;
  cursor: pointer;
}
.card_big{
  border: none;
  background: none;
  &_bonus{
    width: 96px;
    height: 204px;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%);
    backdrop-filter: blur(6px);
    &_img{
      width: 52px;
      margin-left: 25px;
    }
    &_text{
      margin-left: 14px;
      margin-top: -26px;
      font-size: 24px;
      color: white;
    }
  }
}
.svg{

}
.finish:hover{
  height: 204px;
  scale: 1;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%)!important;
  color: #07131B!important;
  cursor: pointer;
}
.finish{
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%);
  backdrop-filter: blur(6px);
  width: 126px;
  color: #07131B!important;
  border: none !important;
  &_text{
    margin-left: -92px;
    margin-top: 28px;
    font-size: 48px;
    font-weight: 700;
    transform: rotate(-90deg);
  }
}
.start:hover{
  height: 204px;
  scale: 1;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%)!important;
  width: 126px;
  color: #07131B!important;
  cursor: pointer;
}
.start{
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%);
  backdrop-filter: blur(6px);
  width: 126px;
  color: #07131B!important;
  border: none !important;
  &_text{
    margin-left: -92px;
    margin-top: 28px;
    font-size: 48px;
    font-weight: 700;
    transform: rotate(-90deg);
  }
}
.card:hover{
  height: 204px;
  scale: 1;
  color: #07131B!important;
  border: none !important;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%) !important;

}
.card{
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(180deg, rgba(234, 241, 242, 0.00) -0.08%, #EAF1F2 61.59%);
  backdrop-filter: blur(6px);
  width: 64px;
  height: 204px;
  color: #07131B!important;
  border: none !important;
  &_bonus {
    &_img {
      width: 52px;
      margin-left: 8px;
    }
    &_text{
      margin-top: -27px;
      font-size: 24px;
      color: white;
    }
  }
}
.resource{
  display: flex;
  &_text{
    font-size: 96px;
    color: white;
  }
  &_img{
    width: 74px;
    height: 74px;
    margin-top: 50px;
    margin-left: -20px;
  }
}
.blocks{
  margin-top: 12%;
  margin-left: 28%;
  margin-right: 30%;
}
.main_block_wrapper{
  background-color: rgba(142,182,204,0.50);
  width: 618px;
  height: 244px;
 // opacity: 70%;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding-top: 80px;
  text-align: center;
  z-index: 1;
}
.main_block_text{
  margin-top: 60px;
  font-size: 32px;
  font-weight: 500;
}
.main_block_title{
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
}
.main_block_buttons{
  display: flex;
  padding-top: 24px;
}
.dog_img{
  margin-left: 80px;
  margin-top: -80px;
  width: 313px;
  z-index: 2;
}
.main_block_button_btn{
  width: 293px;
  height: 48px;
  margin-bottom: 12px;
  color: white;
  border: none;
}
.wrapper_9{
  margin-top: 150px;
}
.edu5{
  margin-top: 120px!important;
  //margin-left: -320px !important;
}
.wrapper_9_bubbles_bubble_text4{
  margin-top: -90px;
  margin-left: 25px;
}
.wrapper_9_link{
  position: fixed;
  margin-top: 100px;
  margin-left: 80%;
  z-index: 22;
}

.wrapper_9_bubbles, .wrapper_9_bubbles_2{
  z-index: 10;
}
.wrapper_9_nina{
  z-index: 8;
}
.edu5_bubbles{
  margin-left: -10px !important;
}
.edu5_text{
  margin-top: -115px;
  margin-left: 16px;
}
.edu5_last_text{
  margin-top: -90px!important;
  margin-left: 16px!important;
}
.edu5_card{
  z-index: 9!important;
}
.edu6{
  margin-top: 240px!important;
}
.edu6_bubbles{
  margin-top: -300px;
}
.edu11_bubbles{
  margin-top: -300px;
  padding-top: 120px;
}
.edu6_pic{
  margin-top: 310px;
}

.edu6_text{
  margin-top: -115px!important;
  margin-bottom: 150px;
}
.edu7_text{
  margin-top: -170px!important;
  margin-bottom: 150px;
}
.edu7_link{
  //margin-top: 50px!important;
}
.edu8_text{
  margin-top: -120px!important;
  margin-bottom: 150px;
}


.user{
  margin-top: -40px;
  margin-left: 60px;
  background-color: pink;
  border-radius: 5px;
  height: 42px;
  width: 42px;
}
.user_name{
  font-size: 20px;
  opacity: 0;
  margin-top: -25px;
  z-index: 20;
}
.you:first-child{
  transition: 1s;
  position: absolute;
  z-index: 20;
  height: 65px;
  margin-bottom: 10px;
}
.you:hover .user_name{
  transition: 1s;
  color: white;
  opacity: 100;
  cursor: pointer;
  background-color: rgba(5,22,23,0.80);
  border-radius: 4px;
  padding: 8px;
}
.you:nth-child(2){
  transition: 1s;
  margin-top: 60px;
  position: absolute;
  z-index: 20;
  height: 65px;
}
.you{
  transition: 1s;
  text-align: right;
}
.you:nth-child(3){
  transition: 1s;
  margin-top: 120px;
  position: absolute;
  z-index: 20;
  height: 65px;
}
.player{
  transition: 1s;
  text-align: left;
}
.player:first-child{
  transition: 1s;
  position: absolute;
  z-index: 20;
  height: 65px;
  margin-bottom: 10px;
}
.player:hover .user_p_name{
  transition: 1s;
  color: #07131B;
  opacity: 100;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
}

.user_p{
  background-color: pink;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}
.user_p_name{
  margin-left: -5px;
  font-size: 14px;
  opacity: 0;
  margin-top: -15px;
  z-index: 20;
}
.player:first-child{
  transition: 1s;
  margin-top: 0;
  margin-bottom: 20px;
}
.player:nth-child(2){
  transition: 1s;
  margin-top: 40px!important;
  margin-bottom: 20px;
}
.player:nth-child(3){
  transition: 1s;
  margin-top: 40px!important;
}
.nothing{
  opacity: 0;
}
